<div class="loading d-none">
    <div class="lds-ripple">
        <div></div>
        <div></div>
        <label class="text-white mt-4 pt-5 ml--2">
            Carregando...
        </label>
    </div>
</div>